<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="com.thaismartcontract.RMUTSBEWallet" android:installLocation="preferExternal" android:versionCode="7">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="EWalletMD.Android" android:icon="@drawable/xamarin_logo"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
</manifest>